/* general styles */

body {
 color: #000000;
 font-family: "Noto Sans", Verdana, Tahoma, Geneva, Arial, Helvetica, sans-serif;
 font-size: 0.9em;
 line-height: 1.6em;
 margin: 1em;
}

img {
 display: block;

}

tei-teiHeader:after {
 display: block;
 content: 'ELTeC is a scholarly resource created in the context of COST Action CA16204 “Distant Reading for European Literary History" (https://www.distant-reading.net/)';
 font-size: 14pt;
 margin-top: 50px;
}


tei-teiHeader {
 display: block;
 width: 600px;
 padding: 30px;
 border: 5px solid gray;
 margin: 0;

}

tei-teiHeader tei-titleStmt > tei-title {
 display: block;
 font-size: 16pt;
 font-style: italic;
 font-weight: bold;
 color: #00487D;
 background-color: #FFFFFF;
 margin-bottom: .2em;
}

tei-teiHeader tei-titleStmt > tei-author {
 display: block;
 font-size: 14pt;
 font-weight: bold;
 color: #00487D;
 background-color: #FFFFFF;
 margin-bottom: .5em;
}


tei-titleStmt {
 display: block;
 font-size: 10pt;
}


tei-extent {
 display: block;
}


tei-extent tei-measure:after {
 content: ' ' attr(unit) ' ';
}

tei-respStmt {
 display: block;
}

tei-respStmt tei-resp:after {
 content: ': ';
}
tei-fileDesc > tei-publicationStmt {
 display: block;
}
tei-fileDesc > tei-publicationStmt tei-publisher:before {
 content: ' Published by ';
}


tei-fileDesc > tei-publicationStmt tei-distributor:before {
 content: ' Available from ';
}


tei-teiHeader tei-sourceDesc {
 display: block;
}
tei-teiHeader tei-sourceDesc:before {
 content: 'Source(s):';
 font-weight: bold;
}

tei-sourceDesc tei-bibl {
 display: block
}

tei-bibl[type = 'digitalSource']:before {
 content: 'Digital source: ';
}

tei-bibl[type = 'printSource']:before {
 content: 'Printed source: ';
}

tei-bibl[type = 'firstEdition']:before {
 content: 'First printed source: ';
}


tei-teiHeader tei-langUsage {
 display: none;
}

/*  tei-teiHeader tei-langUsage:before {
 content: 'Language(s):';
 font-weight: bold;
}


tei-textDesc:before {
 content: 'Selection criteria: ';
}
 */

el-authorGender {
 content: 'authorGender: ' attr(key);
}

tei-teiHeader > tei-revisionDesc {
 display: none;
}

tei-body {
 display: block;
 margin: 1em;
}
tei-div {
 display: block;
 margin-top: 1em;
 margin-bottom: 1em;
}

tei-title {
 font-style: italic;
}
tei-title:after {
 content: ' ';
}

tei-bibl > tei-author:before {
 content: ' ';
}
tei-bibl > tei-publisher:before {
 content: ' ';
}
tei-bibl > tei-pubPlace:before {
 content: ' ';
}


tei-bibl > tei-date:before {
 content: ' (';
}

tei-bibl > tei-date:after {
 content: ') ';
}

tei-bibl > tei-ref:before {
 content: ' ';
}
tei-head {
 display: block;
}


/* h1 */
tei-div > tei-head {
 font-size: 11pt;
 font-weight: bold;
 color: #00487D;
 background-color: #FFFFFF;
}



tei-p {
 display: block;
 margin-top: .5em;
 margin-bottom: .5em;
 text-align: justify;
}

tei-p[rend = red] {
 border: 2px solid red;
}

tei-quote {
 display: block;
 margin-left: 1.5em;
 font-style: italic;
}

tei-l {
 display: block;
}

tei-corr {
 color: gray;
}
}
tei-list {
 display: block;
 margin-left: 30px;
 margin-top: .5em;
 margin-bottom: .5em;
 padding-left: 0;
}
tei-list > tei-head {
 font-weight: bold;
 margin-left: -20px;
 counter-reset: teilist;
}
tei-list[type = bulleted] {
 list-style-type: disc;
}
tei-list[type = ordered] > tei-item {
 list-style-type: none;
 list-style-position: outside;
 counter-increment: teilist;
 margin-left: 30px;
}
tei-list[type = ordered] > tei-item:before {
 content: counter(teilist, decimal) '. ';
 display: inline-block;
 width: 20px;
 text-align: right;
 margin-left: -30px;
 float: left;
}
tei-item {
 display: list-item;
}
tei-listbibl {
 display: block;
 margin-left: 30px;
 margin-top: .5em;
 margin-bottom: .5em;
 padding-left: 0;
}
tei-listbibl > tei-bibl {
 display: list-item;
 list-style-type: none;
}
tei-figure {
 display: block;
 text-align: center;
}

tei-back tei-note:before {
 content: "  [" attr(id) "]  ";
}



tei-note {
 font-size: small;
}

tei-code {
 font-family: "Noto Mono", Monaco, "Courier New", Courier, monospace;
 background-color: #EEE;
}
tei-ident {
 font-family: "Noto Mono", Monaco, "Courier New", Courier, monospace;
 background-color: #EEE;
}

tei-att,
tei-gi {
 font-family: "Noto Mono", Monaco, "Courier New", Courier, monospace;
 background-color: #EEF;
}

tei-gi::before {
 content: "<";
}
tei-gi::after {
 content: ">";
}


tei-att::before {
 content: '@';
}
tei-lb::before {
 content: '\a';
 white-space: pre;
}
tei-hi[rend = bold] {
 font-weight: bold;
}
tei-hi {
 font-style: italic;
}
tei-foreign {
 font-style: italic;
}
tei-emph {
 font-weight: bold;
}
tei-term {
 font-weight: bold;
 font-style: italic;
}

tei-label {
 font-weight: bold;
 font-style: italic;
}

tei-label::after {
 content: ' : ';
}



tei-q::before {
 content: "“";
}

tei-q::after {
 content: "”";
}



/* Tables */
tei-table {
 /* replaced by table */
}
tei-row {
 /* replaced by tr */
}
tei-cell {
 /* replaced by td */
}
/* HTML */
dt {
 font-weight: bold;
}
table {
 border-collapse: collapse;
 margin: 1em;
}
td {
 padding: 1em 1.5em 1em 1em;
 border: thin solid gray;
}
tr[role = "label"] {
 font-weight: bold;
}
td[role = "label"] {
 font-weight: bold;
}
